<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="./../public/images/" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/header.css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" />
    <script src="javascripts/index.js" defer></script>
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <div class="right-side">
        <form action="/image" method="get">
          <input type="text" name="search" />
          <input type="submit" value="Search Picture" class="btn">        
        </form>
        <button class="btn">⚙️</button>
      </div>
    </header>
    <main>
 
      <div class="view">
       <h1>INDEX</h1>
      </div>

    </main>
    <footer>&copy; All right reserved 2022</footer>
  </body>
</html>