*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
:root{
    --font_heading: 700;
    --font_body: 400;
  
    --shadow: 2px 3px 15px rgba(0, 0, 0, 0.575);
  
    --color_primary: #776dff;
    --color_secundary: #e1fb4c;
    --color_green_700: #00875f;
    --color_green_500: #00b37e;
    --color_green_300: #04d361;
    --color_gray_700: #121214;
    --color_gray_600: #202024;
    --color_gray_500: #29292e;
    --color_gray_400: #323238;
    --color_gray_300: #7c7c8a;
    --color_gray_200: #c4c4cc;
    --color_gray_100: #e1e1e6;
    --color_white: #fff;
  
    --font_size_sm: 14px;
    --font_size_md: 16px;
    --font_size_lg: 18px;
    --font_size_xl: 20px;
    --font_size_2xl: 24px;
    --font_size_3xl: 30px;
    --font_size_4xl: 36px;
    --font_size_5xl: 48px;
}
body{
    background-color: var(--color_gray_400);
    color: var(--color_white);
}
p{color: var(--color_gray_100);}

header{
    background-color: var(--color_primary);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-transform: uppercase;
    padding: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

header .upload {
    gap: 1em;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}
/* header .upload input{} */
header .upload input{
    width: 40%;
    padding: 1.4em 2em;
    border: none;
    outline: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
header .upload button{
    /* background-color: #776dff85; */
    background-color: var(--color_green_700);
    outline: none;
    border: 1px solid #776dff;
    color: var(--color_white);
    padding: .8em 6em;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
header .upload button:hover{
    background-color: #776dff;
}
main{
    display: flex;
    flex-direction: column;
    /* background-color: var(--color_secundary); */
    /* padding-top: 8em; */
    padding: 1em;
    /* backdrop-filter: blur(5px); */
}

main .view {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 6em;
    /* margin-bottom: 5em; */
    /* background-image: url(/src/upload/upload.png); */
    /* background-size: cover; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* gap: 1em; */
    /* row-gap: .5em; */
    min-height: 87vh;
}
main .view figure{
    /* border:1px solid var(--color_secundary); */
    /* background-color: var(--); */
    padding: .5em;
    /* background-color: #e1fb4c36; */
    backdrop-filter: blur(5px);
    background-color: #776dff28;
    width: 20rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
main .view figure img{
    max-width: 100%;
}
footer{
    background-color: var(--color_primary);
    text-align: center;
}